.about-section {
  background-color: black;
  color: white;
  position: relative;
  top: -120px;
  padding-top: 120px;
}

.about-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  background-color: black;
  color: white;
}

.about__headline {
  margin: 0;
  text-align: center;
  text-indent: 0;
  font-size: 2rem;
  text-transform: none;
}

.about__text {
  text-indent: 30px;
  text-align: justify;
}
