html {
  background-image: url('../images/info-bg.jpg');
  background-size: cover;
  background-attachment: fixed;
}
body {
  background: rgba(0,0,0,0.8);
}

.body-container {
  background: #fefefe;
}

.mobile-only {
  display: none;
}

section {
  padding: 30px 0;  
}
