.footer {
  background-image: url("../images/footer-top.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 50px;
  padding-top: 55px;
  padding-bottom: 10px;
}

/*.footer-container {
  width: 100%;
}*/

.footer__details {
  display: block;
  /*width: 40%;*/
  color: #2b2a29;
}

.footer__details_left {
  float: left;
  text-align: left;
}

.footer__details_right {
  float: right;
  text-align: right;
}

.footer__contacts {
  margin: 0;
}

.footer__phone {
  margin: 0;
}

.footer__order__call__link {
  display: block;
  float: right;
  clear: right;
  margin-top: 20px;
  color: #2b2a29;
  text-decoration: none;
  border-bottom: 1px dashed #2b2a29;
}
