.request-section {
  background-color: #ebebeb;
  padding: 15px 0;
}

.request-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  /*border: 2px solid black;*/
  border-radius: 15px;
  background-color: #ffffff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

.request__picture-wrapper {
  /*float: left;*/
  width: 40%;
/*  height: 100%;*/
  /*-moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;*/
}

.request__picture_left {
  float: left;
}

.request__picture_right {
  float: right;
}

.request__picture {
  height: 100%;
  width: auto;
  margin: 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.request__form {
  width: 50%;
/*  float: right;*/
  /*margin-left: 45%;*/
  /*padding: 20px 30px 20px 0;*/
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  /*background-image: url("./../images/arrow.png");
  background-repeat: no-repeat;
  background-position: 104% 95%;*/
}

.request__form_right {
  margin-left: 45%;
  padding: 20px 30px 20px 0;
  background-image: url("../images/arrow.png");
  background-repeat: no-repeat;
  background-position: 104% 95%;
}

.request__form_left {
  margin-right: 45%;
  padding: 20px 0 20px 30px;
  background-image: url("../images/arrow-left.png");
  background-repeat: no-repeat;
  background-position: -4% 95%;
}

.request__form input,
.request__form__button {
  display: block;
  width: 70%;
  margin: 15px auto;
  padding: 13px 15px;
  font-size: 1.3rem;
  text-align: center;
  border-style: none;
  border-radius: 4px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.request__form input {
  background-color: #ebebeb;
}

.request__form__button {
  margin: 10px auto 0;
  padding: 9px 15px;
  background-color: #e8b400;
  color: #42392a;
  /*box-shadow: inset 4px 4px #ecc230, inset -5px -4px #cda000;*/
  border-left: 4px solid #ecc230;
  border-top: 4px solid #ecc230;
  border-right: 4px solid #cda000;
  border-bottom: 4px solid #cda000;
}

.request__form__button:hover {
  cursor: pointer;
}

.request__headline,
.request__subheadline {
  text-indent: 0;
  margin: 0;
}

.request__headline {
  margin-bottom: 15px;
  font-size: 1.6rem;
  font-weight: bold;
}

.request__subheadline {
  margin-bottom: 20px;
  font-size: 1.1rem;
  text-indent: 10px;
}
