.reviews__header {
  margin: 0;
  padding: 0;
  padding-top: 30px;
  position: relative;
  height: 30px;
  text-align: center;
  color: #2d2b2c;
}

.reviews__line {
  display: block;
  position: absolute;
  top: 30px;
  margin: 1.35rem 0;
  width: 100%;
  border: none;
  border-top: solid 1px #ccc;
}

.reviews__title {
  position: relative;
  z-index: 3;
  display: inline-block;
  padding: 0 20px;
  margin: 0 auto;
  background-color: white;
  font-size: 2rem;
}

.reviews-container {
  position: relative;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 30px 50px;
  color: #2d2b2c;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.review__photo-container {
  float: left;
  width: 200px;
  /*height: 170px;*/
  padding: 0;
  margin: 5px 20px 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.review__photo {
  display: block;
  width: 100%;
  border-radius: 5px;
}

.review__header {
  margin: 0 0 10px 235px;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: underline;
}

.review__description {
  margin: 0;
  /*margin-left: 235px;*/
  text-align: justify;
  text-indent: 2em;
  line-height: 1.4;
}

.carousel .reviews__arrow {
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  -webkit-transform: translateY(-50%) rotate(-45deg);
  -moz-transform: translateY(-50%) rotate(-45deg);
  -o-transform: translateY(-50%) rotate(-45deg);
  -ms-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
}

.carousel .reviews__arrow_left {
  left: 20px;
  border-top: 5px solid #ccc;
  border-left: 5px solid #ccc;
}

.carousel  .reviews__arrow_right {
  right: 20px;
  border-bottom: 5px solid #ccc;
  border-right: 5px solid #ccc;
}

.carousel .reviews__arrow_left:hover,
.carousel .reviews__arrow_right:hover {
  border-color: #666;
}

.carousel {
  padding: 0 70px;
}
