@media screen and (max-width: 600px) {
  body {
    min-width: 0;
  }

  .flexible-container {
    max-width: none;
    min-width: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
  }




  .about__license-container {
    float: none;
  }


}
