@media screen and (max-width: 600px) {
  .footer {
    padding: 20px 0;
  }

  .footer__details_left {
    float: none;
  }

  .footer__details_right {
    float: none;
    text-align: left;
  }

  .footer__order__call__link {
    float: none;
    display: inline;
  }

}
