@media screen and (max-width: 600px) {
  .request__picture-wrapper {
    display: none;
  }

  .request__form {
    width: 100%;
  }

  .request__form_right, .request__form_left {
      padding: 20px;
      margin: 0;
      background-image: none;
  }

  .r5mFeedback__label-wrapper {
    width: 100%;
  }


}
