<div class="body-container info-section">
  <div class="info-container-wrapper">
    <div class="flexible-container">
      <section class="info-container clearfix">
        <div class="info__picture-wrapper info_right"><img class="info__picture" alt="Обучение у нас" src="images/info-pic.jpg"></div>
        <div class="info-wrapper info-wrapper_left">
          <h2 class="info__headline">Обучение вождению квадроциклов и снегоходов у нас это:</h2>
          <ul class="info__points">
            <li class="info__point">Теоретические занятия в специально оборудованных классах</li>
            <li class="info__point">Практические занятия по управлению квадроциклом</li>
            <li class="info__point">Организованная сдача экзаменов</li>
            <li class="info__point">Удостоверение тракториста-машиниста (категория &laquo;А1&raquo;)</li>
          </ul>
          <p class="period">Срок обучения - 1 месяц</p>
          <p class="price">Цена: 9500 р</p>
          <button class="button  r5m-action" type="button" data-action="r5mDimmer-show" data-type="question" data-text="Обучение вождению квадроциклов и снегоходов">
            <span class="button__label">Начать обучение</span>
          </button>
          <a class="doc-list_link" href="./a1.pdf">Скачать перечень необходимых документов</a>
        </div>

      </section>
    </div>




    <div class="flexible-container">
      <section class="info-container clearfix">
        <div class="info__picture-wrapper info_left"><img alt="Обучение у нас" class="info__picture" src="images/info-pic-2.jpg"></div>
        <div class="info-wrapper info-wrapper_right">
          <h2 class="info__headline">Обучение управлению катером, мотолодкой и гидроциклом у нас это:</h2>
          <ul class="info__points">
            <li class="info__point">Теоретические занятия в специально оборудованных классах</li>
            <li class="info__point">Практические занятия по управлению и эксплуатации катера</li>
            <li class="info__point">Организованная сдача экзаменов</li>
            <li class="info__point">Удостоверение судоводителя на право управления маломерным судном</li>
          </ul>
          <p class="period">Срок обучения - 1 месяц</p>
          <p class="price">Цена: 7000-9500 р</p>
          <button class="button r5m-action" type="button" data-action="r5mDimmer-show" data-type="question" data-text="Обучение управлению катером, мотолодкой и гидроциклом">
            <span class="button__label">Начать обучение</span>
          </button>
          <a class="doc-list_link" href="./gims.pdf">Скачать перечень необходимых документов</a>
        </div>
      </section>
    </div>
  </div>
</div>
