<div class="body-container request-section">
  <div class="flexible-container">
    <div class="request-container clearfix">
      <div class="request__picture-wrapper  request__picture_right">
        <img alt="Начните обучение в удобное время" class="request__picture" src="images/operator-2.jpg">
      </div>
      <form class="request__form request__form_left r5mFeedback__form" data-metrika-goal="r5m-call-me">
        <p class="request__headline">Заполните заявку сейчас</p>
        <p class="request__subheadline">и начните обучение в удобное для Вас время</p>
        <div class="r5mFeedback__label-wrapper">
          <label class="r5mFeedback__label">
            <span class="r5mFeedback__placeholder">Введите Ваше имя*</span>
            <input class="r5mFeedback__input" name="name" required="" type="text">
          </label>
          <label class="r5mFeedback__label">
            <span class="r5mFeedback__placeholder">Телефон для связи*</span>
            <input class="r5mFeedback__input" name="phone" required type="text" />
          </label>
          <button class="request__form__button submit-button " type="submit">
            <span class="button__label">Отправить заявку</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
