<div class="body-container request-section">
  <div class="flexible-container">
    <div class="request-container clearfix">
      <div class="request__picture-wrapper request__picture_left">
        <img class="request__picture" src="images/operator.jpg" alt="Заполните заявку и наши специалисты свяжутся с Вами для подбора оптимального графика обучения">
      </div>
      <form class="request__form request__form_right r5mFeedback__form" data-metrika-goal="r5m-call-me">
        <p class="request__headline">Заполните заявку</p>
        <p class="request__subheadline">и наши специалисты свяжутся с Вами для подбора оптимального графика обучения</p>
        <div class="r5mFeedback__label-wrapper">
          <label class="r5mFeedback__label">
            <span class="r5mFeedback__placeholder">Введите Ваше имя*</span>
            <input class="r5mFeedback__input" name="name" required="" type="text">
          </label>
          <label class="r5mFeedback__label">
            <span class="r5mFeedback__placeholder">Телефон для связи*</span>
            <input class="r5mFeedback__input" id="phone" name="phone" required type="text" />
          </label>
          <button class="request__form__button submit-button " type="submit">
            <span class="button__label">Отправить заявку</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
