<div class="body-container">
  <div class="flexible-container">

    <section class="profits-container clearfix"><!--
    --><div class="profit">
        <figure class="profit__element">
          <img class="profit__picture" src="images/1.png" alt="Индивидуальный график" title="Индивидуальный график">
          <figcaption class="profit__text">
            <h2 class="profit__headline">Индивидуальный
              <br/>график</h2>
            <p class="profit__description">Вы сами выбираете удобное расписание занятий</p>
          </figcaption>
        </figure>
      </div><!--
      --><div class="profit">
        <figure class="profit__element">
          <img class="profit__picture" src="images/2.png" alt="Сопровождение на экзамене" title="Сопровождение на экзамене">
          <figcaption class="profit__text">
            <h2 class="profit__headline">Сопровождение
              <br/>на экзамене</h2>
            <p class="profit__description">Представление Ваших интересов в ГИМС и Гостехнадзоре</p>
          </figcaption>
        </figure>
      </div><!--
      --><div class="profit">
        <figure class="profit__element">
          <img class="profit__picture" src="images/3.png" alt="Высококвалифицированные специалисты" title="Высококвалифицированные специалисты">
          <figcaption class="profit__text">
            <h2 class="profit__headline" title="Квалифицированные специалисты">Квалифицированные
              <br/>специалисты</h2>
            <p class="profit__description">Гарантированная сдача экзаменов</p>
          </figcaption>
        </figure>
      </div><!--
      --><div class="profit">
        <figure class="profit__element">
          <img class="profit__picture" src="images/4.png" alt="Удобное расположение в центре города" title="Удобное расположение в центре города">
          <figcaption class="profit__text">
            <h2 class="profit__headline">Удобное расположение в центре города</h2>
            <p class="profit__description">Наш офис расположен по адресу: пр. Строителей 7, корпус 1А</p>
          </figcaption>
        </figure>
      </div>
    </section>
  </div>
</div>
