<div class="body-container">
  <div class="reviews__header">
    <h2 class="reviews__title">Отзывы наших учеников</h2>
    <hr class="reviews__line"/>
  </div>
  <div class="flexible-container">
    <div class="reviews-container clearfix">
      <div class="carousel">
        <ul class="carousel__content">
          <li class="carousel__item">
            <div class="review__photo-container">
              <img class="review__photo" src="images/review-2.jpg" alt="Сотов Сергей Анатольевич">
            </div>
            <p class="review__header">Сотов Сергей Анатольевич, г. Осинники</p>
            <p class="review__description">
              Сдавал на права категории
              <b>«А1»</b>
              в 2015 году, проблем никаких не было.
              <b>Все прошло хорошо</b>, на уровне. Экзамены в ГИМС сдал
              <b>с первого раза</b>.
            </p>
            <p class="review__description">
              Я всем доволен. Большое спасибо!
            </p>
          </li>
          <li class="carousel__item">
            <p class="review__header">Бибекин Виктор Кузьмич, г. Новокузнецк</p>
            <p class="review__description">
              Обучался в этом Центре на
              <b>«Лодку и гидроцикл»</b>. Быстро и доступно объяснили, какие нужно собрать документы, чтобы начать обучение.
            </p>
            <p class="review__description">
              Сотрудники все
              <b>вежливые</b>
              и
              <b>внимательные</b>. Очень понравился преподаватель: все занятия проходили вовремя, уроки интересны, лекцию сопровождал яркий материал на электронной доске, поэтому воспринималось все гораздо легче, преподавал понятным и простым языком.
            </p>
            <p class="review__description">
              Практика была на катере, покатались достаточно, так что со сдачей экзаменов проблем не возникло.
              <b>Всем рекомендую этот Центр!</b>
            </p>
          </li>
          <li class="carousel__item">
            <div class="review__photo-container">
              <img class="review__photo" src="images/review-1.jpg" alt="Енихин Виктор Михайлович">
            </div>
            <p class="review__header">Енихин Виктор Михайлович, г. Киселевск</p>
            <p class="review__description">
              Было удобно, легко и просто сдавать экзамены в ГИМС, потому, что все
              <b>здорово организовали</b>, прошло без помех.
            </p>
            <p class="review__description">
              Преподаватель, он же инструктор,
              <b>хорошо знает</b>
              свое дело, доносит все в доступной форме, потому и сдал с первого раза.
            </li>

            <li class="carousel__item">
              <p class="review__header">Сыстеров Евгений Викторович, г. Новокузнецк</p>
              <p class="review__description">
                Учился в этом Центре на
                <b>«Снегоходы и квадроциклы»</b>, все легко и быстро усваивалось. Сотрудники и преподаватели располагают к доверию и уважению.
                <b>Удостоверение получил</b>.
              </p>
              <p class="review__description">
                Спасибо этому Центру, не стыдно рекомендовать и другим.
              </p>
            </li>

          </ul>
          <div class="reviews__arrow reviews__arrow_left carousel__left-button">
            <span class="mobile-only carousel__left-button__text">Пред.</span>
          </div>

          <div class="reviews__arrow reviews__arrow_right carousel__right-button">
            <span class="mobile-only carousel__right-button__text">След.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
