<footer class="footer clearfix">
  <div class="footer-top"></div>
  <div class="flexible-container">
  
    <div class="footer__details footer__details_left">
    	<p class="footer__contacts">
        &copy; 2017 &laquo;Многопрофильный образовательный
        <br/> центр комплексной безопасности&raquo;
        <br/> г.Новокузнецк, ул. Строителей 7, корп. 1А</p>
      <p style="font-size: 0.9em; color: #666; line-height: 1em; max-width: 600px; text-align:justify">
            Находясь на сайте, вы соглашаетесь с тем, что данный сайт собирает метаданные клиентов, 
            обрабатываемые в соответствии с <a style="color: inherit" target="_blank" href="/images/eua.pdf">соглашением об обработке персональных данных</a>. Если вы не согласны со сбором метаданных сайтом, покиньте его. В противном случае вы принимаете соглашение об обработке персональных данных.
        </p>
      <p style="font-size: 0.8em; color: #666; line-height: 1em; max-width: 600px; text-align:justify">
          <a style="color: inherit" target="_blank" href="/images/pd.pdf" class="webmaster-link">Политика обработки персональных данных</a><br/>
          <a style="color: inherit" target="_blank" href="/images/eua.pdf" class="webmaster-link">Пользовательское соглашение</a><br/>
          <a style="color: inherit" target="_blank" href="https://milikhin.name" class="webmaster-link">Разработка сайта</a>
      </p>
    </div>
    <div class="footer__details footer__details_right">
      <p class="footer__phone">+7-906-935-12-98</p>
      <p class="footer__phone">+7-960-918-41-61</p>      
    </div>
    <a class="footer__order__call__link" href="#" data-action="r5mDimmer-show" data-type="call">Заказать звонок</a>
    
  </div>
</footer>

