<footer class="footer clearfix">
  <div class="footer-top"></div>
  <div class="flexible-container">
    <div class="footer__details footer__details_left">
      <p class="footer__contacts">
        &laquo;Многопрофильный образовательный
        <br/> центр комплексной безопасности&raquo;
        <br/> г.Новокузнецк, ул. Строителей 7, корп. 1А</p>
      <div class="copyright">
        &copy; 2016

      </div>
    </div>
    <div class="footer__details footer__details_right">
      <p class="footer__phone">+7-906-935-12-98</p>
      <p class="footer__phone">+7-960-918-41-61</p>
    </div>
    <a class="footer__order__call__link" href="#" data-action="r5mDimmer-show" data-type="call">Заказать звонок</a>
  </div>
</footer>
