<div class="header-wrapper">
  <div class="header__background"></div>
  <ul class="slideshow">
    <li><span>Image 01</span></li>
    <li><span>Image 02</span></li>
    <li><span>Image 03</span></li>
  </ul>
  <header class="header">
    <div class="flexible-container">
      <div class="header-container">
        <div class="header__top-container clearfix">
          <div class="header__logo-wrapper">
            <!-- <img class="header__logo" src="images/logo.png" alt="АНО ДПО МОЦКБ"> -->
            <h2 class="header__logo-title">
              <a href="./">
                &laquo;Многопрофильный образовательный центр<br>комплексной безопасности&raquo;<br/>г.&nbsp;Новокузнецк
              </a>
            </h2>
          </div>
          <div class="header__order-wrapper">
            <div class="header__order__phone-wrapper">
              <p class="header__order__vk">
                <a href="https://vk.com/ckbnk">
                  Мы Вконтакте
                  <span class="vk-wrapper">
                    <i class="fa fa-vk"></i>
                  </span>
                </a>
              </p>

              <p class="header__order__phone">+7-906-935-12-98
                <br/>
                <a class="header__order__call__link r5m-action" data-action="r5mDimmer-show" data-type="call" href="#">Заказать звонок</a>
              </p>
              <p class="header__link">
              	<a href="http://centrkb.wixsite.com/ckb-nk">Перейти на сайт Учебного центра</a>
              </p>
            </div>
          </div>
        </div>
        <div class="header__title">
          <h1 class="header__title__caption">
          <!--<a href="./">Обучение управлению:<br/> маломерным моторным судном, катером, гидроциклом;<br/> снегоходом, квадроциклом (категория А1)</a>-->
          Обучение управлению:<br/> маломерным моторным судном, гидроциклом;<br/> снегоходом, квадроциклом (категория &laquo;А1&raquo;)
        </h1>
          <h2 class="header__title__subtitle">
          96% наших клиентов получают водительское удостоверение с первого раза
        </h2>
        </div>
        <p class="header__order__call">
          <button class="header__order__call__button submit-button r5m-action" data-action="r5mDimmer-show" data-type="question">
            <span>Начать обучение</span>
          </button>
        </p>
        <div class="header-offer-wrapper">
          <div class="header-offer">
            <h2 class="header-offer__subtitle">
              Назови кодовую фразу
              <span class="header-offer__real-offer">«Хочу на квадроцикл!»</span>
            </h2>
            <p class="header-offer__text">
              и обучись на категорию <b>«А1»</b> всего за <b>6000</b> рублей!
            </p>
            <p class="header-offer__blabla">
              Акция действительна до 1 марта. Подробности по тел. +7-906-935-12-98
            </p>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
